#controls {

    padding: 1rem;
    border: 2px solid black;
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

#buttons {

    padding: 1rem;
    border: 2px solid black;
    background-color: gray;
    
    
}

#tools {

    padding: 1rem;
    border: 2px solid black;
    
}

#window {


    display: flex;


}

#canvas {

    border: 2px solid black;
    background-color: white;
}


body {

    background-color: cornflowerblue;
    font-family: 'Press Start 2P', cursive;
}


.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}